
:root{
  --dark-high:var(--chatgpt);
  --dark:#313338;
  --dark-low:#202123;
  --dark-low-op:rgba(32, 33, 35, 0.719);
  --dark-lower:rgb(21, 21, 23);
  --dark-lowest:#000000;
  --dark-lowest-op:rgba(0, 0, 0, 4);

  --light-highest:#efede7;
  --light-low:#ddd7ca;
  --light-lowest:#8e8574;
  --light-low-op:#ddd7ca92;
  --light-lower-op:#8e8574c6;
  --light-lowest-op:#8e857478;

  --light-pure:#fff;
  --light-pure-low:#f6f8fa;
  --light-pure-lowest:#c8c8cf;
  --light-pure-low-op:#f6f8fa90;
  --light-pure-lowest-op:rgba(200, 200, 207, 0.8);

  --blue:#0099ff;
  --dark-blue:#024d7f;
  --blue-op:color-mix(in srgb, var(--blue) var(--transparency, 20%), transparent);

  --orange:#ff5500;
  --orange-op:color-mix(in srgb, var(--orange) var(--transparency, 20%), transparent);
  --dark-orange:#ff5500;

  --red:#c9453c;
  --dark-red:#9f3831;
  --red-op:color-mix(in srgb, var(--red) var(--transparency, 20%), transparent);

  --pink:#c62368;
  --dark-pink:#c62368;

  --green:#00CBA9;
  --dark-green:#017f6a;
  --green-op:color-mix(in srgb, var(--green) var(--transparency, 20%), transparent);

  --light-purple:#e2c2e6;
  --purple:#4a2570;
  --dark-purple:#65498f;

  --night:#54619d;

  --yellow:#FFD700;
  --yellow-op:rgba(255, 217, 0, 0.8);
  --brown:#654e44;
  --pink-light:#d7559b;
  --purple-light:#9e59ee;
  --gradient:linear-gradient(#d7559b,#9e59ee);
  --dark-gradient:linear-gradient(#9e59ee, #d7559b);
  --gold:#b29338;

  --main:var(--blue);
  --dark-main:var(--dark-blue);
  --main-op:color-mix(in srgb, var(--main) var(--transparency, 70%), transparent);
  --main-op-2:color-mix(in srgb, var(--main) var(--transparency, 20%), transparent);

  --cine-light:#F6CEA0;
  --cine-light-light:#f6e1c9;
  --cine-red:#D94A3D;
  --cine-dark:#17282C;
  --cine-dark-low:#111e21;

  --editor-dark:#0d1116;
  --editor-grey:#31363c;
  --editor-light-grey:#d1d7dd;

  --chatgpt:#343540;
  --chatgpt-green:#75a99c;
  --chatgpt-happy-green:#5bc083;
  --chatgpt-light:#40414e;
  --chatgpt-lighter:#8e8e9e;
  --chatgpt-purple:#a26bf7;
  --chatgpt-gold:#f4e49c;
  --chatgpt-dark-gold:#8e7935;
  --chatgpt-text:#565868;

  --selection-orange:rgba(255, 145, 0, 0.5);

  --pres-marigold:#c78f31;
  --pres-white:#f4e9e2;
  --pres-dark-green:#273a3b;

  --accent-purple-dimmest: #39298A;
  --accent-purple-dimmer: #5239CC;
  --accent-purple-default: #795EFF;
  --accent-purple-stronger: #A694FF;
  --accent-purple-strongest: #CEC4FF;
  --accent-teal-dimmest: #004452;
  --accent-teal-dimmer: #006073;
  --accent-teal-default: #0093B0;
  --accent-teal-stronger: #27B9D6;
  --accent-teal-strongest: #69D9F0;
}
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Roboto+Mono:wght@100&display=swap');
@import url('https://fontlibrary.org//face/segment7');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Yellowtail&display=swap');


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1.brand{
  font-family: serif;
  font-size: 2rem;
  letter-spacing: -0.1rem;
  font-weight: 200;
  font-style: italic;
}

a[href]{
  color:var(--main);
}

.non-editable-content{
  padding-left:10px;
}