blockquote{
    border-left: 3px solid;
    opacity:0.5;
    padding-left: 10px;
    margin: 10px 0;
    margin-top:0;
}

a[href^="https://"]::after,
a[href^="mailto"]::after, .link::after {
  content: "";
  display: inline-block;
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' height='1em' fill='%23b8bbbb' viewBox='0 0 512 512'><path d='M320 0c-17.7 0-32 14.3-32 32s14.3 32 32 32h82.7L201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L448 109.3V192c0 17.7 14.3 32 32 32s32-14.3 32-32V32c0-17.7-14.3-32-32-32H320zM80 32C35.8 32 0 67.8 0 112V432c0 44.2 35.8 80 80 80H400c44.2 0 80-35.8 80-80V320c0-17.7-14.3-32-32-32s-32 14.3-32 32V432c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16V112c0-8.8 7.2-16 16-16H192c17.7 0 32-14.3 32-32s-14.3-32-32-32H80z'/></svg>");
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  margin-left: 5px;
  vertical-align: middle;
  text-decoration: none !important;
}

a[href^="https://"]:hover, a[href^="mailto"]:hover, a[href]:hover{
    text-decoration: underline;
}

img {
  max-width: 100%;
  border-radius:5px;
}

html:has(.background-confirmation-img.img-zoom) {
  overflow:hidden;
}


.background-confirmation, .background-confirmation-img{
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 150;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.background-confirmation-img{
  background: rgba(0, 0, 0, 0.6);
  opacity:1;
}


.background-confirmation-img.reverse-img{
  transition-duration: 0.1s;
  opacity:0;
  pointer-events: none;
}