blockquote{
    border-left: 3px solid;
    opacity:0.5;
    padding-left: 10px;
    margin: 10px 0;
    margin-top:0;
}

a[href^="https://"]::after,
a[href^="mailto"]::after, .link::after {
  content: "";
  display: inline-block;
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' height='1em' fill='%23b8bbbb' viewBox='0 0 512 512'><path d='M320 0c-17.7 0-32 14.3-32 32s14.3 32 32 32h82.7L201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L448 109.3V192c0 17.7 14.3 32 32 32s32-14.3 32-32V32c0-17.7-14.3-32-32-32H320zM80 32C35.8 32 0 67.8 0 112V432c0 44.2 35.8 80 80 80H400c44.2 0 80-35.8 80-80V320c0-17.7-14.3-32-32-32s-32 14.3-32 32V432c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16V112c0-8.8 7.2-16 16-16H192c17.7 0 32-14.3 32-32s-14.3-32-32-32H80z'/></svg>");
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  margin-left: 5px;
  vertical-align: middle;
  text-decoration: none !important;
}

a[href^="https://"]:hover, a[href^="mailto"]:hover, a[href]:hover{
    text-decoration: underline;
}

img {
  max-width: 100%;
  border-radius:5px;
}

/* CustomImage.css */

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px; /* Example margin - adjust as needed */
}

.center-image {
  max-width: 300px; /* Adjust default image size as needed */
  max-height: 200px;
  cursor: pointer;
  display: block; /* Prevents extra space below image */
}

.background-confirmation-img {
  position: fixed; /* or absolute, depending on your layout */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black background */
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0; /* Initially hidden */
  pointer-events: none; /* Initially not interactive */
  transition: opacity 0.3s ease-in-out; /* Smooth fade in/out */
  z-index: 1000; /* Ensure it's on top of other content */
}

.background-confirmation-img.img-zoom {
  opacity: 1; /* Visible when zoomed */
  pointer-events: auto; /* Interactive when zoomed */
}

.background-confirmation-img.reverse-img {
  opacity: 0; /* Hidden when not zoomed */
  pointer-events: none; /* Not interactive when not zoomed */
}


.modal-image-container {
  max-width: 90%; /* Maximum width of zoomed image container */
  width: auto; /* Adjust to content width */
  max-height: 90vh; /* Maximum height of zoomed image container */
  margin: auto; /* Center the modal */
  overflow: hidden; /* Prevent scrollbars if content is larger */
  display: flex;
  flex-direction: column; /* Arrange image and text vertically */
  align-items: center; /* Center items horizontally */
  background-color: #222; /* Darker background for modal */
  padding: 15px;
  border-radius: 8px;
}


.modal-image {
  max-width: 100%; /* Image fills container width */
  max-height: 80vh; /* Limit image height to viewport height */
  display: block; /* Prevents extra space below image */
  cursor: pointer;
}

.modal-text {
  color: white;
  margin-top: 15px;
  text-align: center;
  font-size: 0.9em;
}